<!DOCTYPE html>
<html>
  <head>
    <title>LookBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to LookBook on Rails</h1>
        <p>
          This is an app made with Rails
        </p>
        <% if current_user %>
          <span>Welcome <%= current_user.nickname %> <%= image_tag current_user.image %></span>
          <p>
            <%= current_user.description %>
          </p>
        <% end %>
      </div>
    </div>

    <% flash.each do |name, message| %>
    <div class="alert alert-primary" role="alert">
      <%= message %>
    </div>
    <% end %>

    <%= yield %>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="links">
            <%= link_to 'All Posts', posts_path %>
            <%= link_to 'Home', root_path %>
            <%= link_to 'New Post', new_post_path %>
            <% if current_user %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
            <% else %>
              <%= link_to 'Login With Twitter', user_twitter_omniauth_authorize_path, class: 'fa fa-twitter' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
