<%= form_with model: project, local: true, class: 'pure-form pure-form-stacked' do |f| %>
  <fieldset>
    <legend>Create Project</legend>
    <div class="pure-control-group">
      <%= f.label :company_id, 'Company' %>
      <!-- Map project_id to id from Project display name of Project -->
      <%= f.collection_select :company_id, Company.all, :id, :name, id: :project_company_id, prompt: true, class: 'pure-input-1-2' %>
    </div>
    <div class="pure-control-group">
      <%= f.label :name %>
      <%= f.text_field :name, id: :project_name, class: 'pure-input-1-2', placeholder: 'Project Name' %>
    </div>
    <div class="pure-control-group">
      <%= f.label :default_rate, 'Rate' %>
      <%= f.number_field :default_rate, id: :project_default_rate, step: :any,  class: 'pure-input-1-2' %>
    </div>
    <div class="pure-control-group">
      <%= f.submit 'Create Project', class: 'pure-button pure-button-primary' %>
    </div>
  </fieldset>
<% end %>
