<%= form_for @project do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :slug, 'Friendly Name' %>
    <%= form.text_field :slug %>
  </div>
  <div>
    <%= form.label :default_rate %>
    <%= form.number_field :default_rate %>
  </div>
  <div>
    <%= form.label :company_id %>
    <%= form.collection_select :company_id, @companies, :id, :name, prompt: true %>
  </div>
  <div>
    <%= form.submit "Create Project" %>
  </div>
<% end %>
