<h1><%= @project.name %></h1>
<p>
  Belongs to
  <%= @project.company.name %>
</p>
<p>
  <%= @project.inspect %>
</p>
<p>
  Codename
  <%= @project.slug %>
</p>
<%= link_to 'All Projects', projects_path %>