<h1><%= @project.name %></h1>
<p>
  Codename
  <%= @project.slug %>
</p>
<p>
  Total Time Spent
  <%= pluralize(@project.hours_worked, 'hour') %>
</p>

<div>
  <table>
    <thead>
      <%= render 'works/work-table-header' %>
    </thead>
    <tbody>
      <%= render partial: 'works/work', collection: @project.works %>
    </tbody>
  </table>

  <!-- provide content from application.html.erb -->
  <% content_for :aside do %>
    <% render 'sidebar' %><% end %>
  </div>