<div class="row">
  <div class="col-12">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Appsbyahrens</h3>
        <nav class="nav nav-masthead justify-content-center">
          <%= link_to 'Home', home_path, class: "nav-link #{ active_class?(home_path) }" %>
          <%= link_to 'About', about_path, class: "nav-link #{ active_class?(about_path) }" %>
          <%= link_to 'Contact', contact_path, class: "nav-link #{ active_class?(contact_path) }" %>
          <%= link_to 'Blogs', blogs_path, class: "nav-link #{ active_class?(blogs_path) }" %>
          <%= link_to 'Portfolio', portfolios_path, class: "nav-link #{ active_class?(portfolios_path) }" %>
          <%= login_links_helper('application') %>
        </nav>
      </div>
    </header>
  </div>
</div>
