<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">A blog where I discuss the latest news in iOS development & Fortnite. Could even talk about other technologies such as Swift, Kotlin, and Ruby on Rails</p>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Topics</h4>
    <ol class="list-unstyled mb-0">
      <% topics.each do |topic| %>
        <li>
          <h5><%= link_to topic.title, topic_path(topic) %> | <span class="badge badge-secondary"><%= topic.blogs.count %></span></h5>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= content_tag :a, href: 'https://www.github.com', class: 'social-link' do %>
            <%= fa_icon 'github', class: "fa-2x" %>
          <% end %>
          <%= content_tag :a, href: 'https://www.instagram.com', class: 'social-link' do %>
            <%= fa_icon 'instagram', class: "fa-2x" %>
          <% end %>
        </div>
        <div class="col-sm-12">
          <%= content_tag :a, href: 'https://www.twitter.com', class: 'social-link' do %>
            <%= fa_icon 'twitter', class: "fa-2x" %>
          <% end %>
          <%= content_tag :a, href: 'https://www.facebook.com', class: 'social-link' do %>
            <%= fa_icon 'facebook-f', class: "fa-2x" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</aside>
