<tr>
  <td>
    <span><%= link_to "#{ work.project.name }", project_path(work.project) %></span>
  </td>
  <td>
    <%= link_to work.project.company, company_path(work.project.company) %>
  </td>
  <td>
    <span><%= work.user %></span>
  </td>
  <td>
    <span><%= work.date_performed.to_formatted_s(:long_ordinal) %></span>
  </td>
  <td>
    <span><%= pluralize(work.hours, 'hour') %>
    </span>
  </td>
  <td>
    <%= link_to 'View', work_path(work) %>
  </td>
</tr>