<h1>Work for
  <%= @work.project.company.name %></h1>
<p>
  Project name:
  <%= @work.project.name %>
  performed by
  <%= @work.user.full_name %>
  total time spent
  <%= @work.hours %>
</p>
<p>
  <%= @work.inspect %>
</p>
<!-- provide content from application.html.erb -->
<% content_for :aside do %>
  <% render 'sidebar', work: @work  %>
<% end %>
