<%# class="success" %>
<tr>
  <td>
    <%= time_off.id %>
  </td>
  <td>
    <%= time_off.status %>
  </td>
  <td>
    <%= time_ago_in_words(time_off.date) %>
  </td>
  <td>
    <%= time_off.user.full_name %>
  </td>
  <td>
    <%= time_off.rationale %>
  </td>
  <td>
    <%= link_to 'Edit', edit_time_off_path(time_off), class: 'btn btn-info', id: "edit_#{time_off.id}" %>
    <%= link_to 'Delete', time_off_path(time_off), class: 'btn btn-danger', id: "delete_#{time_off.id}", method: :delete %>
  </td>
</tr>
