<%= form_with(model: portfolio, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :portfolio_title %>
  </div>
  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :portfolio_subtitle %>
  </div>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :portfolio_body %>
  </div>
  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :portfolio_image %>
  </div>
  <div class="field">
    <%= form.label :thumbnail %>
    <%= form.text_field :thumbnail, id: :portfolio_thumbnail %>
  </div>

  <% if portfolio.new_record? %>
    <div class="field">
      <h3>Technologies</h3>
      <ul>
        <%= form.fields_for :technologies do |technology_form| %>
          <li>
            Technology: <%= technology_form.text_field :name %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit submit_button %>
  </div>
<% end %>
