<%= form_with(model: portfolio, local: true) do |form| %>

<% if portfolio.errors.any? %>
  <% portfolio.errors.full_messages.each do |message| %>
    <%= js add_gritter(message, title: 'Error!', image: :error) %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, id: :portfolio_title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :subtitle %>
      <%= form.text_field :subtitle, id: :portfolio_subtitle, class: 'form-control' %>
    </div>
    <div class="form-group">
      <div class="custom-file">
        <%= form.label :image, class: 'custom-file-label' %>
        <%= form.file_field :image, id: :portfolio_image, class: 'custom-file-input', type: 'file' %>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-file">
        <%= form.label :thumbnail, class: 'custom-file-label' %>
        <%= form.file_field :thumbnail, id: :portfolio_thumbnail, class: 'custom-file-input', type: 'file' %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <%= form.label :body %>
      <%= form.text_area :body, id: :portfolio_body, class: 'form-control', rows: 12 %>
    </div>
  </div>
</div>

  <hr  />
  <div class="form-group">
    <h3>Technologies</h3>
    <ul>
      <%= form.fields_for :technologies do |technology_form| %>
        <%= render 'technology_fields', f: technology_form  %>
      <% end %>
      <div>
        <%= link_to_add_association 'Add Technology', form, :technologies %>
      </div>
    </ul>
  </div>
  <div class="form-group">
    <%= form.submit submit_button, class: 'form-control btn btn-primary' %>
  </div>
<% end %>
