<!DOCTYPE html>
<html>
<head>
  <title>Timetracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<header>
		<%= link_to content_tag(:canvas, 'Time Tracker', id: 'logocanvas'), root_path %>
		<nav>
			<ul>
				<% navbar_items.each do |item| %>
					<%= display_navbar_item(item[:displayText], item[:controller], item[:link]) %>
				<% end %>
        <% if user_signed_in? %>
          <li>Logged In As <%= current_user %> <span><%= link_to "Log Out", destroy_user_session_path, method: :delete %></span></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %></li>
        <% end %>
			</ul>
		</nav>
	</header>
	<section id="main">
		<article>
      <% if flash[:notice] %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert"><%= alert %></p>
      <% end %>
			<%= yield %>
		</article>
		<aside>
			<%= yield :aside %>
		</aside>
	</section>
	<footer>
		<p>TimeTracker by <em>Appsbyahrens</em></p>
	</footer>
</div>
</body>
</html>
