<%= form_for @post, class: 'form' do |form| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error_message| %>
      <%= js add_gritter(error_message, title: error_message, sticky: false, time: 5000) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rationale %>
    <%= form.text_area :rationale, class: 'form-control' %>
  </div>

  <%= form.submit 'Save', class: 'btn btn-default' %>
<% end %>
