<div>
  <h4>Reason for Overtime</h4>
  <p><%= @post.rationale %></p>
</div>

<div class='well'>
  <div>
    <span>Requested <%= @post.overtime %> hours by <%= @post.user.full_name %></span>
  </div>
  <div>
    <span>Sent <%= time_ago_in_words(@post.date) %> ago</span>
  </div>
</div>

<div>
  <% if policy(@post).update? %>
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
  <% end %>
</div>

<%# Adding output if running in Development environment %>
<div class="well development">
  <% if Rails.env.development? %>
    <p><%= @post.inspect %></p>
  <% end %>
</div>
