<div class="blog-post">
  <h2 class="blog-post-title"><%= blog.title %></h2>
  <p class="blog-post-meta">
    <%= time_ago_in_words blog.created_at %>
  </p>
  <p>

    <% if logged_in?(:site_admin) %>
      <%= link_to blog.status, publicize_blog_path(blog), method: :post, class: 'btn btn-outline-primary btn-sm' %>
      /
      <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-outline-primary btn-sm' %> /
      <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-outline-primary btn-sm'  %>
    <% end %>
  </p>
  <p>
    <%= truncate(blog.body, length: 65) %>
  </p>
  <p>
    <%= link_to 'Continue reading', blog %>
  </p>
</div>
