<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div>
        <h3 class="pb-3 mb-4 font-italic border-bottom"><%= @blog.title %>
          <% if logged_in?(:site_admin) %>
            <span class="float-right ml-2">
              <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) %>
            </span>
            <span class="float-right mr-2">
              <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
            </span>
          <% end %>
        </h3>
      </div>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to @blog.topic.title, topic_path(@blog.topic) %>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <%= @blog.title %>
          </li>
        </ol>
      </nav>
      <p>
        Topic:
        <span class="badge badge-pill badge-primary">
          <%= @blog.topic.title %>
        </span>
      </p>
      <p>
        <strong>Body:</strong>
        <%= markdown @blog.body %>
      </p>

      <!-- Start of Comment Form -->
      <%= render 'comments/form', comment: @comment %>

      <!-- Start of All comments -->
      <div id="comments" data-blog-id="<%= @blog.id %>">
        <%= render @blog.comments %>
      </div>

      <div class="show-navigation-links">
        <%= link_to 'Back', blogs_path %>
      </div>

    </div>
    <%= render 'shared/blog_sidebar', topics: @topics %>
  </div>
</main>