<tr>
  <td>
    <%= audit_log.id %>
  </td>
  <td>
    <%= audit_log.user.full_name %>
  </td>
  <td>
    <%= audit_log.start_date %>
  </td>
  <td>
    <%= audit_log.end_date %>
  </td>
  <td>
    <%= audit_status_span(audit_log) %>
  </td>
  <td>
    <% if policy(audit_log).index? %>
      <%= link_to '', root_path, class: 'glyphicon glyphicon-pencil', id: "edit_#{audit_log.id}" %>
    <% end %>
  </td>
</tr>