<div class="center">
  <p id="notice"><%= notice %></p>

  <div class="jumbotron">
    <h1>Handcrafted stuff just <br />like <span class="logo-copy">Etsy</span></h1>
  </div>
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url(:medium)), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= listing.description %> for <span class="listing-price"><%= number_to_currency(listing.price) %></span></p>
            <p><span>Sold by <%= listing.user.name %></span></p>
            <% if user_signed_in? && current_user == listing.user %>
              <p><span><%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-link' %></span> | <span><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %></span></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
  <% end %>
</div>
