<div class="logo">
  <h1>TimeTracker</h1>
</div>

<ul class="custom-navigation-bar nav nav-tabs">
  <li class="<%= navigation_active?(root_path) %>">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="<%= navigation_active?(time_offs_path) %>">
    <%= link_to 'Requests', time_offs_path %>
  </li>
  <li class="<%= navigation_active?(new_time_off_path) %>">
    <%= link_to 'New Time Off', new_time_off_path %>
  </li>
  <li class="dropdown pull-right">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong>
    </a>
    <ul class="dropdown-menu">
      <% if user_signed_in? %>
      <li class="dropdown-header">
        Hello
        <%= "#{current_user.first_name} #{current_user.last_name}" %>
      </li>
      <li>
        <%= link_to "Edit Profile", edit_user_registration_path %>
      </li>
      <li>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Login", new_user_session_path %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <% end %>
    </ul>
  </li>
</ul>
