<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Coiny|Roboto" rel="stylesheet">
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= video_tag('HardDrivePhotojpeg.mp4', id: 'background-cover', autoplay: true, loop: true, muted: true, poster: 'home-background.png') %>
      <%= alerts %>
      <%= render 'shared/application_navigation' %>
      <%= yield %>
      <%= render 'shared/application_footer' %>
      <%= source_helper %>
    </div>
  </body>
</html>