<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/alerts' %>
      <%= render 'shared/blog_navigation' %>
      <%= yield %>

      <footer class="blog-footer">
        <p>Blog from Appsbyahrens with <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/adamahrens">@adamahrens</a>.</p>
      </footer>
      <%= source_helper %>
    </div>
  </body>
</html>
