<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/portfolio_navigation' %>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Appsbyahrens Portfolio</h1>
          <p class="lead text-muted">A showcase for all projects that Appsbyahrens has been apart of and successfully launched.</p>
          <p>
            <%= link_to 'New Portfolio', new_portfolio_path, class: 'btn btn-primary my-2' if logged_in?(:site_admin) %>
          </p>
        </div>
      </section>

      <%= yield %>
    </main>
    <%= render 'shared/portfolio_footer' %>
    <%= source_helper %>
  </body>
</html>
